language: ruby
rvm:
  - 1.9.3
  - 2.2
  - jruby
gemfile:
  - Gemfile
  - gemfiles/activerecord31.gemfile
  - gemfiles/activerecord32.gemfile
  - gemfiles/activerecord40.gemfile
  - gemfiles/activerecord41.gemfile
script: bundle exec rake test
before_script:
  - mysql -e 'create database groupdate_test;'
  - mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql
  - psql -c 'create database groupdate_test;' -U postgres
notifications:
  email:
    on_success: never
    on_failure: change
matrix:
  allow_failures:
    - rvm: jruby
      gemfile: Gemfile
